@font-face {
    font-family: 'Origin Athletic';
    src: url(/fonts/Origin\ Athletic\ TTF.ttf);
    font-weight: normal;
    font-style: normal;
}
*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  font-family: 'Origin Athletic', sans-serif;
  font-size: 25px;
}


.body { 
background-color: #e2e2e2;
}

 header{
  background-color: #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
  padding:4px 8%;
}

.header .logo{
  cursor: pointer;
}
.header .logo img {
 margin-right: 20px;
  height: 88px;
  width: auto;
  transition: all 0.5s;
}


.header .navbar {
  list-style: none;
  }

.header .navbar li {
  display: inline-block;
  padding: 0 20px;
  transition: transform 0.3s;
}

.header .navbar li:hover{
  transform: scale(1.3);
}

.header .navbar a {
  font-size: 700;
  color: #eceff1;
  text-decoration: none;
}

.header .navbar li a:hover{
  color: #D9A300;
  transform: scale(1.3)
}

.header .btn button{
  font-weight: 700;
  color: #000000;
  padding: 10px 25px;
  background-color: #D9A300;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s ease 0s;
}

.header .btn button:hover{
  background-color:#eceff1;
  transform: scale(1.2);
  transition: all 1s ;

  justify-content: flex-end;
}
